html {background-color: lightblue;}

body {
  width: 100%;
  top:0;
  left:0;
}

#projects {
  height: 150vh;
  display: grid;
  grid-auto-rows: 50px;
  border: 1px red solid;
  grid-template-rows: repeat(5, 50px);
}

project-tile {
  width: 30%;
  margin: 45%;
  height: auto;

  display: flex;
  justify-content: center;

}

/* navbar */
nav{
  color: #FFF;
  margin:10px 90px;
  display: inline-flex;
  justify-content: flex-end;
  width: 80%;
  margin-top: -10px;

  z-index: 3;
}
nav ul{
  list-style: none;
}
nav ul li {
  float: left;
  transition: .3s;
}
nav ul li a{
  text-decoration: none;
  color: #EFEEF5;
  transition: .5;
  font-size: 15px;
  margin-left:16px;
}

#navbar {
  position: fixed;
}

header {
  display: flex;
  align-self: center;
  justify-content: center;
}
