* {
 box-sizing: border-box;
}

body {
 margin: 0;
 font-family: sans-serif;
 background: hsl(292, 58%, 86%);
}

.header {
 text-align: center;
 text-transform: uppercase;
 padding: 32px;
 background: rgb(162,116,169);
background: linear-gradient(90deg, rgba(162,116,169,1) 0%, rgba(104,74,109,1) 24%, rgba(90,64,94,1) 35%, rgba(90,64,94,1) 50%, rgba(90,64,94,1) 65%, rgba(104,74,109,1) 76%, rgba(162,116,169,1) 100%);
 /*
background-color: #5a405e;
 background: rgb(90,64,94);
background: radial-gradient(circle, rgba(90,64,94,1) 0%, rgba(105,75,110,1) 22%, rgba(162,116,169,1) 66%, rgba(219,158,229,1) 100%);
 

 */
 color: #fff;
 border-bottom: 1px dashed #a073a7;
}

.header img {
 width: 30vw;
 min-width: 250px;
 max-width: 500px;
}
/*
.header .fa {
 color: hsl(292, 58%, 80%);
}

.header span, small {
 color: #8b6491;
}

*/

.gallery {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 gap: 16px;
 max-width: 1400px;
 margin: 0 auto;
 padding: 20px 10px;

 background: rgb(247,231,246);
background: linear-gradient(90deg, rgba(247,231,246,1) 15%, rgba(252,234,255,1) 30%, rgba(246,222,250,1) 50%, rgba(252,234,255,1) 70%, rgba(247,231,246,1) 85%);

 /*
 background-color: hsl(292, 58%, 90%);
 */
}

.gallery img {
 width: 100%;
 max-width: 350px;
 height: 300px;
 object-fit: cover;
 border-radius: 10px;
}

.gallery::after {
 content: "";
 width: 350px;
}


.hovertext:before {
 /* Overriding the standard settings from the 
 fun_features.css stylesheet. This controls the hovering messages, which are a prettier version of the tooltip feature.
 */
 width: 250px;
 font-size: 15px;
 padding: 5px 6px;
 text-transform: initial;
}







/*

FOR IF I EVER DECIDE TO GRADIENT THE FCC FONTAWESOME FONT (IT IS THE GRADIENT FOR THE BODY)

background: rgb(247,231,246);
background: linear-gradient(90deg, rgba(247,231,246,1) 15%, rgba(252,234,255,1) 30%, rgba(246,222,250,1) 50%, rgba(252,234,255,1) 70%, rgba(247,231,246,1) 85%);
*/





@media screen and (max-width: 880px) {
 .header{
  background: rgb(162,116,169);
background: linear-gradient(90deg, rgba(162,116,169,1) 0%, rgba(104,74,109,1) 15%, rgba(90,64,94,1) 25%, rgba(90,64,94,1) 50%, rgba(90,64,94,1) 75%, rgba(104,74,109,1) 85%, rgba(162,116,169,1) 100%);
 }
}

@media screen and (min-width: 2000px) {

}

@media  screen and (max-width: 470px) {
 .header {
  background: none;
  background-color: #5a405e;
  border-bottom: 1px dashed #a073a7;
 }

 .header img {
  margin: 0 22vw;
  width:100%;
  max-width: 250px;
  height: auto;
 }
}