* {
 box-sizing: border-box;
}

body {
 margin: 0;
 font-family: sans-serif;
 background: hsl(292, 58%, 86%);
}

.header {
 text-align: center;
 text-transform: uppercase;
 padding: 32px;
 background-color: #5a405e;
 color: #fff;
 border-bottom: 8px groove #db9ee5;
}

.header img {
 width: 30vw;
 min-width: 250px;
 max-width: 500px;
}
/*
.header .fa {
 color: hsl(292, 58%, 80%);
}

.header span, small {
 color: #8b6491;
}

*/

.gallery {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 gap: 16px;
 max-width: 1400px;
 margin: 0 auto;
 padding: 20px 10px;
 background-color: hsl(292, 58%, 90%);
}

.gallery img {
 width: 100%;
 max-width: 350px;
 height: 300px;
 object-fit: cover;
 border-radius: 10px;
}

.gallery::after {
 content: "";
 width: 350px;
}


.hovertext:before {
 /* Overriding the standard settings from the 
 fun_features.css stylesheet. This controls the hovering messages, which are a prettier version of the tooltip feature.
 */
 width: 250px;
 font-size: 15px;
 padding: 5px 6px;
 text-transform: initial;
}