body {
  font-size: 25px;
}

header {
  display: flex;
  justify-content: center;
  z-index: 2;
}


main {
  z-index: 0;
  display: grid;
  grid-template-rows: 1fr 5fr 1fr;
  grid-template-areas:
      "header" "content" "footer";

  max-height: 800px;
}


#content{
  justify-content: center;
  padding: 10%;
  padding-top: 3%;
  top:-50px;

  z-index: 4;

}

#explaination {
  grid-area: 1/1/2/2;
  background-color: lightblu;
  height: auto;
  margin-bottom: 5%;
}

table {
  grid-area: 1/2/2/3;
  justify-self: center;


  padding: 3%;
}

#table {
  background-color: #ffffff55;
  border-radius: 10px;
  width:80%;
  position: absolute;
  left: 120px;

  opacity: 0.6;
  z-index: 4;
}

#table img {
  width: 100px;
  height: 70px;
}



#tablehead {
  font-weight: 600;
}

a {
  text-decoration: none;

}


#certificate {
  background-color: lightpin;
  width: 80%;
  height: auto;
}

@media screen and (max-width: 600px) {
  table {
    display: flex;
    flex-driection: column;


  }




}

@media screen and (max-width: 480px) {
  #table{
    width: 80%;
    left: 10%;
  }
}
