body {
  font-size: 25px;
}

header {
  display: flex;
  justify-content: center;
  z-index: 2;
}


main {
  z-index: 0;
  display: grid;
  grid-template-rows: 1fr 5fr 1fr;
  grid-template-areas:
      "header" "content" "footer";

  max-height: 800px;
}


#content{
  justify-content: center;
  padding: 10%;
  padding-top: 3%;
  top:-50px;

  z-index: 4;

}

#explaination {
  grid-area: 1/1/2/2;
  background-color: lightbl;
  height: auto;
  margin-bottom: 5%;
}

table {
  grid-area: 1/2/2/3;
  justify-self: center;


  padding: 3%;
}

#table {
  background-color: #ffffff55;
  border-radius: 10px;
  width:80%;
  position: absolute;
  left: 120px;

  opacity: 0.6;
  z-index: 4;
}

#table img {
  width: 250px;
  height: auto;
}



#tablehead {
  font-weight: 600;
}

a {
  text-decoration: none;

}


#certificate {
  background-color: lightpin;
  width: 80%;
  height: auto;
}

@media screen and (max-width: 600px) {


  table {
    display: grid
    grid-template-areas:
    "";
  }
  #table {
    display: flex;
    flex-direction: column;
    width: 90%;
    left: 10%;

  }
  #table img {
    margin-left: 15%;
  }



}

@media screen and (max-width: 480px) {
  table {
    grid-area: 1/2/2/3;
    justify-self: center;


    padding: 3%;
  }

  #table{
    width: 80%;
    left: 10%;
  }
  #table img {
    margin-left: 15%;
    width: 550px;
    height: auto;
  }
}

@media screen and (min-width: 2000px) {
  #table {
    width: 90%;
    left: 5%;
  }

  #table img {
    margin-left: 15%;
    width: 550px;
    height: auto;
  }
}
