#main-doc {
  width: 90%;

  display: grid;
  grid-template-areas:
    "header content";

  font-family: 'Open Sans', arial, sans-serif;
  line-height: 1.5;

}

#code {
  background-color: #f7f7f7;
  display: block;
  line-height: 2;
  padding: 15px;
  margin: 15px;
  border-radius: 5px;
}

code {
  background-color: #f7f7f7;
  font-family: monospace;

  line-height: 2;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

#navbar {
  grid-area: header;
  background-color: #e00e0;
  border-right: 1px dashed;


  width: 250px;
  height: 100vh;
  position: fixed;

  display: flex;
  flex-direction: column;
  padding-left: 10px;



}

.nav-link  {
  top: 50px;
  display: block;
  padding: 10px 30px;
  color: #4d4e53;
  text-decoration: none;
  cursor: default;
}


li .nav-link  {
  border-top: 1px dashed;
  position: relative;
  width: 80%;
}

li {list-style-type: none;}

#navbar header {
 height: 6em;


 text-align: center;
 font-size: 40;
 font-family: 'Open Sans', arial, sans-serif;
 background-color: #fff;
 
}

#content {
  grid-area: content;
  position: inherit;
  margin: 30px;
  position: absolute;
  margin-left: 310px;
}

.main-section {
  margin-top: 20px;
}

.main-section header {
  font-size: 2em;
  margin-left: 120px;
  padding: 20px;
}

@media only screen and (max-width: 768px) {
  #main-doc {
    grid-template-areas:
      "header" "content";

    padding: 25px 20px 0px 20px;
    margin: 0;
  }

  #navbar {
    background-color: #e0e0e0;
    height: 200px;
    width: 90%;
    overflow-y: scroll;
    position: absolute;
  }

  #navbar header {
   height: 4em;
   margin-top: 5vh;
  }

  #content {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
  }

}

@media only print{
  #code {
    background-color: #e0e0e0;
    font-family: serif;
  }
}
