#main {
	display:grid;
	grid-template-rows: 1fr auto;
	grid-template-areas: "header" "content";
	width: 105%;
	position: relative;
	right: 10px;
	bottom: 10px;

  font-family: 'Gaegu', cursive, serif;

  max-height: 1000px;
}

header {
	display: flex;
	justify-content: center;
  flex-direction:column;
	background-color: #646363;



}

#title {
	display: flex;
	justify-content: center;
	align-self: center;
	color: lightblue;
	width:100%;
	border: ;
  font-family: 'Gaegu', cursive;
  font-size: x-large;
}

#title h1{

}

#content {
	width: 97%;
	height: auto;
	overflow-x:hidden;
	overflow-y: hidden;
	padding-left: 15px;
	padding-right: 12px;
  padding-top: 20px;


	display:grid;
	grid-template-columns: 1fr 2fr;

	background-color: lightgreen;
}

#img-div {
	grid-area: 1/1/2/2;
	position: relative;
	max-width:100%;
	max-height: 700px;
  height: auto;
  width: 80%;

	display: block;
  margin:0 auto;
}

#img-div #image{
  max-width: 100%;
  height: auto;
  width: 80%;
  display: block;
  margin: 0 auto;

	border-radius:20px;
}

#img-caption {
	justify-content:center;
	display: flex;
	justify-self: center;
	justify-items: center;

	width:80%;
	padding: 3%;
	padding-left:10px;
	position:absolute;
  bottom: 50%;

	color:black;
	background-color: rgba(167, 241, 167, .5);
	border-radius:10px;
  font-family: cursive;

}
#img-caption #caption {
  flex-wrap: wrap;
  justify-self: center;
  max-width: 40%;
}

#tribute-info {
	grid-area:1/2/2/3;
	overflow-y: scroll;
	width: 100%;
	padding: 4%;


	border: ;
	/* The grid within this container is below this line*/
	display: grid;
	grid-template-rows: 1fr 7fr 1fr;
}

#tribute-caption{
	padding: 3%;
	align-self:center;


  font-family: 'Gaegu', cursive;
  font-size: x-large;
}

#timeline {
	justify-content:center;
	width:95%;
	height: auto;
	margin-right: 5px;

	background-color: hsl(120, 73%, 80%);
	border-radius:15px;

  font-family: Lato,sans-serif;

}

#timeline ul {
  display: flex;
  flex-direction: column-reverse;
}

#timeline p {
  font-family: 'Gaegu', cursive;
}

#mean-quote {
	justify-self:center;
	justify-items:center;
}



@media only screen and (max-width: 700px) and (min-width:375px) {

	#main {
	display:grid;
	grid-template-rows: 1fr auto;
	grid-template-areas: "header" "content";
	width: 105%;
	position: relative;
	right: 10px;
	bottom: 10px;

}

  #main {
      max-height: 2500px;;
  }

	header{
		height:100%;
		display: flex;
		justify-content: center;
	}

	#title{
		display: flex;
		justify-content: center;

		width:100%;
		border: ;
	}

	#title h1{
		max-width: 80%;
		text-align:center;
	}

	#content {
	width: 97%;
	height: auto;

	display:grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns:1fr;


	background-color: lightgreen;
}

	#img-div {
	grid-area: 1/1/2/2;

  max-width: 100%;
  height: auto;
  width: 80%;
  display: block;
  margin: 0 auto;
}

	#img-div #image{

	max-width:100%;
  height: auto;
  width: 80%;
  display: block;
  margin: 0 auto;

}

  #img-caption {
    position:absolute;
    bottom: 50%;

    display: flex;
    flex-wrap: wrap;

  }

  #img-caption #caption{
    max-width: 60%;
    display: flex;
    flex-wrap: wrap;
  }

	#tribute-info {
	grid-area:2/1/3/2;


	width: 100%;
	padding: 4%;


	border: ;
	/* The grid within this container is below this line*/
	display: grid;
	grid-template-rows: 1fr auto 1fr;
}

}

@meda only screen and (max-width: 600px) {

}
