body {
font-family: Open Sans;

background-color: #f9ea8f;
background-image: linear-gradient(315deg, #f9ea8f 0%, #aff1da 74%);

display: grid;
grid-template-rows: 1fr 3fr;
grid-template-areas: "header" "content";

}

#header {
  position: fixed;
  width: 100%;
  height: 20%;
  top: 0;
  left:0;
  grid-area: header;

  height: 200px;
  background-color: #f9ea8f;
  display: flex;
  justify-content: space-evenly ;
  padding-top: 15px;
  padding-left: 5%;
  z-index: 3;
}

h1 {
  color:#A40606;
}

#header-img {
  width: 90px;
}

#nav-bar {
  display: flex;

  justify-content: space-between;

}

#nav-link {
  text-decoration: none;
}

main {
  grid-area: content;

}

#video {
  border: 7px outset #A40606;

}

h2 {

}

form {

  width: 60%;
  border: 2px dotted red;
  display: flex;
  flex-direction:column;
  justify-content: center;
  
}

.form-items{
  display: inline-block;
}

@media screen AND (max-width: 768px ) {
  h1 {
    background-color: #f9ea8f;
  }
}
