body {
font-family: Open Sans;

background-color: #f9ea8f;
background-image: linear-gradient(315deg, #f9ea8f 0%, #aff1da 74%);

display: grid;
grid-template-rows: 1fr 7fr;
grid-template-areas: "header" "content";

}

#header {
  position: fixed;
  width: 100%;
  top: 0;
  left:0;
  grid-area: header;

  height: 100px;
  background-color: #f9ea8f;
  display: flex;
  justify-content: space-evenly ;
  align-items: center;
  padding-top: 15px;
  padding-left: 5%;
  z-index: 3;
}

h1 {
  color:#A40606;
}

#header-img {
  width: 80px;
}

#nav-bar {
  text-decoration-line: none;
  text-decoration-color: #A40606;



}

#nav-link {
  margin: 5px;
  align-self: baseline;
}

main {
  justify-self: center;
  grid-area: content;
  width: 80%;


}

#video-box {
 margin: 0;
 width: auto;
 display: flex;
 justify-content: center;
}

#video {
  border: 7px outset #A40606;


}

p{
  text-align: center;
}

h2 {
  color: #A40606;
}

form {

  width: 60%;
  border: 2px dotted red;
  display: flex;
  flex-direction:column;
  justify-content: center;

}

.form-items{
  display: inline-block;
}

@media screen AND (max-width: 768px ) {
  h1 {
    background-color: #f9ea8f;
  }
}
