
nav {
  display: block;
  width: 100%;
  height: 70px;
}

#navbar {

  position: fixed;
  display: flex;
  justify-content: flex-end;


  z-index: 3;
  background-color: #ffffff44;

}

#navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  list-style: none;
  text-decoration: none;

}

#navbar li {
  width: 130px;
  text-decoration-line: none;
}

.nav-link {
  text-decoration-line: none;
  color: #daae51;
  font-weight: bold;
}

#navbar button {
  color: #d53369;
  font-weight: bold;
  background-color: #ffffff44;

  height: 40px;
  border: 0;
}


#navbar button:hover {
  background: #d53369;
}

body {
  font-family: 'open sans';
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  top: 0;
  left:0;


  justify-content: center;

}

#welcome-section {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(0deg, #d53369 0%, #daae51 100%);
  display: flex;
  flex-shrink: 1;

  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;


}

  #speech-bubble {
    display: flex;
    justify-self: center;
    max-width: 720px;
    max-height: 420px;
    margin: 30px;
    padding-left: 30px;

    flex: 4 2 auto;
  }



#welcome-section h1 {
  font-family: 'sacco';
  font-size: 8em;

}



#projects {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  left: 10%;
  top: 150vh;
  flex-shrink: 1;

  max-width: 80vw;
}

#project-tile {
  align-self: center;
}

#project-tile p {
  max-width: 78vw;
}

@media only screen and (max-width: 700px) {
  #welcome-section {
    height: 100%;
    background: linear-gradient(180deg, #d53369 0%, #daae51 100%);

    padding-left: 15%;

  }

  #speech-bubble {
    top: -20%;
    width: 100vw;
    height: 550px;
    margin-left: 15%;
    padding-left: 15%;
  }

  #welcome-section h1 {

    font-size: 12em;

  }

  #project-tile p {
    max-width: 78vw;
    width: 20%;
  }




}
